@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.homepage-bg{
    background-image: url("https://t4.ftcdn.net/jpg/10/87/15/51/240_F_1087155126_T4eBQuNe3AOpPtDECMtUlVPw9xpbSVZT.jpg");
    background-size: cover;
    height:100vh;
    width:100vw;
}
.homepage-bg1{
    background-image: url("https://t4.ftcdn.net/jpg/02/42/79/15/240_F_242791586_qkCFcop5qIbmhAZYX7lpAUEWU03GfIFL.jpg");
    width:100vw;
    background-size:660px;
    height:100vh;
}
.heading{
    font-family:"Roboto";
    font-size:30px;
    color:rgb(113, 123, 135);
    text-decoration-line: underline;
    text-align:center;
    padding:50px;
    padding-bottom: 90px;
}
.pad{
    padding:10px;
    margin:22px;
    width:190px;
    text-align: center;
    border-radius: 20px;
}
.homepage{
    text-align:center;
}
.mainbox{
    height:440px;
    width:600px;
    background-color:bisque;
    text-align:center;
    margin:100px;
    border-radius: 80px;
}
.traffic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    padding: 20px;
    border-radius: 20px;
    width: 100px;
}
.light {
    width: 60px;
    height: 60px;
    background: gray;
    margin: 10px;
    border-radius: 50%;
}
.button-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20px;
}
button {
    width: 100px;
    height: 40px;
    margin: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}
.para{
    padding:15px;
    font-size:24px;
    font-family: "Roboto";
}